__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints

.env
.venv/
env/
venv/

.vscode/
.idea/
.DS_Store
*.log
*.csv
*.tsv
*.json
*.xlsx
*.db
*.h5
*.hdf5
*.pkl
*.joblib
*.pt
*.onnx
node_modules/
Numpy/download.png
Numpy/download-1.png
Numpy/download-2.png
Numpy/download-3.png
Numpy/download-4.png
Numpy/sigmoid_function.svg
Numpy/how-to-calculate-mean-squared-error-mse-in-microsoft-excel-2-compressed.webp
Numpy/4e7cf150-0179-4d89-86f2-5cbb1f51c266_meansquarederrorformula.png
Numpy/Binary-cross-entropy-loss-function-equation-Kum23.png
*.npy